.signin__container
  = render "modules/header_logo_only"
  %main.signin__main
    %section.signin__main__container
      %h2.signin__main--text 新規会員登録
      .signin__main--inner
        .signin__main--content
          = link_to new_user_registration_path, {class: "btn-default btn-mail"} do
            %i.fa.fa-envelope-o{"aria-hidden":"true"}
            メールアドレスで登録
          %button#facebook-login.btn-sns
            %i.fa.fa-facebook-official
            = link_to "Facebookで登録", user_facebook_omniauth_authorize_path
          %button#google-login.btn-sns
            %i.fa.fa-google-plus
            = link_to "Googleで登録", user_google_oauth2_omniauth_authorize_path

  = render partial: 'modules/footer_logo'
