%header
  = render 'modules/header_log_in'

  %nav.bread-crumbs
    - breadcrumb :identification
    = breadcrumbs class: "breadcrumbs", style: :ul, separator: " #{content_tag(:i, '', :class=>'fa fa-chevron-right')} "

%main.prof__l-container.clearfix
  = render 'side/side_bar'

  .person__rbox
    %section.person__rbox__container.identification__user
      %h2 本人情報の登録
      %p お客さまのあんしん・あんぜんな取引のため、本人情報のご登録をお願いしております。

      = form_with method: 'POST', class: "identification__card--form" do |f|
        .identification__content
          .identification__content--form.identification__form--default
          = f.label :お名前
          %span.identification__content--require.identification__require--default 必須
          = f.text_field :first_name, placeholder: "user:nameに変える" , class: "identification__input--default"
          = f.text_field :last_name, placeholder: "user:nameに変える" , class: "identification__input--default"

          .identification__content--form--kana.identification__form--default
          = f.label :お名前カナ
          %span.identification__content--require.identification__require--default 必須
          = f.text_field :first_reading, placeholder: "user:nameに変える" , class: "identification__input--default"
          = f.text_field :last_reading, placeholder: "user:nameに変える" , class: "identification__input--default"

          .identification__content--form--kana.identification__form--default
          = f.label :郵便番号
          %span.identification__content--any 任意
          = f.number_field :postal_code, placeholder: "郵便番号に変える" , class: "identification__input--default"

          .identification__content--form--kana.identification__form--default
          = f.label :都道府県
          %span.identification__content--require.identification__require--default 必須
          .select__wrapper.prefecture__wrapper
            %i.fa.fa-angle-down
            = f.select :prefecture, "", {},{class: "select__prefecture select-default"}

          .identification__content--form--kana.identification__form--default
          = f.label :市町村
          %span.identification__content--require.identification__require--default 必須
          = f.text_field :first_reading, placeholder: "user:cityに変える" , class: "identification__input--default"

          .identification__content--form--kana.identification__form--default
          = f.label :番地
          %span.identification__content--require.identification__require--default 必須
          = f.text_field :first_reading, placeholder: "user:adressに変える" , class: "identification__input--default"

          .identification__content--form--kana.identification__form--default
          = f.label :建物名
          %span.identification__content--any 任意
          = f.text_field :first_reading, placeholder: "user:buildingに変える" , class: "identification__input--default"

          .identification__content--form--kana.identification__form--default
          = f.label :生年月日
          %span.identification__content--require.identification__require--default 必須
          .birth__content
            = f.date_select :birth_year ,(options = {use_month_numbers: true}), { class: "select__birth__year select-default" }
            %span.year__text 年
            %span.month__text 月
            %span.day__text 日
          %p.confirm__text__identification ※出品されたことがある、本人情報未登録のお客さまもご対象となります。
          %section.identification__wrapper--button
            = f.submit :登録する, class: "identification__button"
          .about__identification
            = link_to root_path do
              %span 本人情報の登録について
              %i.fa.fa-angle-right
= image_tag (asset_path "mercari.png"), class: "identification__fotter"
