%header
  = render 'modules/header_log_in'

  %nav.bread-crumbs
    - breadcrumb :logout
    = breadcrumbs class: "breadcrumbs", style: :ul, separator: " #{content_tag(:i, '', :class=>'fa fa-chevron-right')} "

%main.prof__l-container.clearfix
  = render 'side/side_bar'

  .logout__content
    .logout__btn__wrapper
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn__logout"

= render partial: 'modules/footer_index'

%a.sell-btn
  .sell-btn__text 出品
  = fa_icon 'camera'
