.member-ship__wrapper
  = link_to image_tag(asset_path 'phone_header'), root_path

  .person__rbox
    %section.person__rbox__container.identification__user
      %h2 お届け先住所入力
      %p お客さまのあんしん・あんぜんな取引のため、本人情報のご登録をお願いしております。

      = form_with url: user_adress_registrate_create_path, method: 'POST', class: "identification__card--form",local: true do |f|
        .identification__content
          .identification__content--form.identification__form--default
          = f.label :お名前
          %span.identification__content--require.identification__require--default 必須
          = f.text_field :first_name, placeholder: "苗字 漢字" , class: "identification__input--default"
          = f.text_field :last_name, placeholder: "名前 漢字" , class: "identification__input--default"

          .identification__content--form--kana.identification__form--default
          = f.label :お名前カナ
          %span.identification__content--require.identification__require--default 必須
          = f.text_field :first_reading, placeholder: "苗字 カナ" , class: "identification__input--default"
          = f.text_field :last_reading, placeholder: "名前 カナ" , class: "identification__input--default"

          .identification__content--form--kana.identification__form--default
          = f.label :郵便番号
          %span.identification__content--any 任意
          = f.number_field :postal_code, placeholder: "郵便番号" , class: "identification__input--default"

          .identification__content--form--kana.identification__form--default
          = f.label :都道府県
          %span.identification__content--require.identification__require--default 必須
          .select__wrapper.prefecture__wrapper
            %i.fa.fa-angle-down
            = f.select :prefecture, User.prefectures.keys.to_a, {},{class: "select__prefecture select-default"}

          .identification__content--form--kana.identification__form--default
          = f.label :市町村
          %span.identification__content--require.identification__require--default 必須
          = f.text_field :city, placeholder: "市町村" , class: "identification__input--default"

          .identification__content--form--kana.identification__form--default
          = f.label :番地
          %span.identification__content--require.identification__require--default 必須
          = f.text_field :adress, placeholder: "番地" , class: "identification__input--default"

          .identification__content--form--kana.identification__form--default
          = f.label :建物名
          %span.identification__content--any 任意
          = f.text_field :building, placeholder: "建物名" , class: "identification__input--default"

          .identification__content--form--kana.identification__form--default
          = f.label :生年月日
          %span.identification__content--require.identification__require--default 必須
          .birth__content
            = f.date_select :birth_year ,(options = {use_month_numbers: true}), { class: "select__birth__year select-default" }
            %span.year__text 年
            %span.month__text 月
            %span.day__text 日
          %p.confirm__text__identification ※出品されたことがある、本人情報未登録のお客さまもご対象となります。
          %section.identification__wrapper--button
            = f.submit :登録する, class: "identification__button"
          .about__identification
            = link_to root_path do
              %span 本人情報の登録について
              %i.fa.fa-angle-right


  = image_tag (asset_path "poricy.png")
