.mypage-container
  %header

    = render 'modules/header_log_in'

  %nav.bread-crumbs
    %ul
      %li{itemscope: true, itemtype: "#"}
        = link_to root_path, itemprop: "url" do
          %span{itemprop: "title"}
            メルカリ
        = fa_icon "chevron-right"
      %li{itemscope: true, itemtype: "#"}
        %span{itemprop: "title"}
          マイページ

    .header-inner
      .upper-box
        = link_to root_path, class: "upper-box__logo" do
          = image_tag (asset_path "logo.png")
        %input.upper-box__search{placeholder: "キーワードから探す", type: "text"}
        = fa_icon "search"
      .under-box
        .under-box__left
          %ul.l-left
            %li
              = link_to root_path, class: "from-category" do
                カテゴリーから探す
            %li
              = link_to root_path, class: "from-bland" do
                ブランドから探す
        .under-box__right
          .l-right
            / = link_to root_path, class: "header-login-btn" do
            /   ログイン
            / = link_to root_path, class: "header-signup-btn" do
            /   新規会員登録
            %ul.header-user-nav
              %li
                = link_to root_path, class: "icons" do
                  =image_tag (asset_path "member_photo_noimage_thumb.png"), class: "user-icon"
                  %span.icon-text
                    マイページ
              %li
                = link_to root_path, class: "icons" do
                  = fa_icon "bell-o"
                  %span.icon-text
                    お知らせ
              %li
                = link_to root_path, class: "icons" do
                  = fa_icon "check"
                  %span.icon-text
                    やることリスト

  %nav.bread-crumbs
    - breadcrumb :mypage
    = breadcrumbs class: "breadcrumbs", style: :ul, separator: " #{content_tag(:i, '', :class=>'fa fa-chevron-right')} "


  %main.l-container.clearfix
    = render 'side/side_bar'
    .mypage-content
      %section.mypage-user-icon
        = link_to root_path, class: "mypage-user-images" do
          = image_tag (asset_path "member_photo_noimage_thumb.png"), class: "mypage-user-image"
          %h2.bold name
          .mypage-number
            .evaluation-num
              評価
              %span.bold
                14
            .selling-items-num
              出品数
              %span.bold
                23

      %section.mypage-tab-container-notification-todo
        %ul.mypage-tabs
          %li.notice-tab.todo-tab
            = link_to root_path, 'data-toggle': "tab" do
              お知らせ
          %li.notice-tab.todo-tab
            = link_to root_path, 'data-toggle': "tab" do
              やることリスト

        .user-tab-content
          %ul#mypage-tab-notification.mypage-item-list
            %li
              = link_to root_path, class: "mypage-item-link" do
                = image_tag (asset_path "logo.mini.png"), class: "image-size-default"
                .mypage-item-body
                  .mypage-item-text
                    【あと2日】対象カテゴリーが売れたら“必ず“ポイントがもらえるキャンペーン開催中
                  %time
                    = fa_icon "clock-o"
                    %span
                      3日前
                = fa_icon 'chevron-right'

            %li
              = link_to root_path, class: "mypage-item-link" do
                = image_tag (asset_path "logo.mini.png"), class: "image-size-default"
                .mypage-item-body
                  .mypage-item-text
                    明日、500Pの有効期限が切れます
                  %time
                    = fa_icon "clock-o"
                    %span
                      5日前
                = fa_icon 'chevron-right'

            %li
              = link_to root_path, class: "mypage-item-link" do
                = image_tag (asset_path "logo.mini.png"), class: "image-size-default"
                .mypage-item-body
                  .mypage-item-text
                    事務局から個別メッセージ「【P500進呈】お得にメルカリでのお買い物をお楽しみください♪」
                  %time
                    = fa_icon "clock-o"
                    %span
                      10日前
                = fa_icon 'chevron-right'

            %li
              = link_to root_path, class: "mypage-item-link" do
                = image_tag (asset_path "logo.mini.png"), class: "image-size-default"
                .mypage-item-body
                  .mypage-item-text
                    【期間限定のお得情報】2019年新春キャンペーン開催中！売れたら必ずポイントGETできます！
                  %time
                    = fa_icon "clock-o"
                    %span
                      11日前
                = fa_icon 'chevron-right'

            %li
              = link_to root_path, class: "mypage-item-link" do
                = image_tag (asset_path "logo.mini.png"), class: "image-size-default"
                .mypage-item-body
                  .mypage-item-text
                    【終了間近】年末年始のお得なプレゼントキャンペーン開催中！
                  %time
                    = fa_icon "clock-o"
                    %span
                      16日前
                = fa_icon 'chevron-right'

            %li.mypage-go-list
              = link_to root_path, class: "open-lists" do
                一覧を見る

      %section.mypage-tab-container
        %h2.mypage-tab-head
          購入した商品
        %ul.mypage-tabs

          %li.transaction
            = link_to root_path, class: "transaction-status" do
              取引中

          %li.transaction
            = link_to root_path, class: "transaction-status" do
              過去の取引

        .items-tab-content
          / %ul.items-tab-transaction-now
          /   %li.mypage-item-not-found
          /      = image_tag("/assets/mono-logo.png")
          /       取引中の商品がありません
          %ul.items-tab-transaction-past
            %li.mypage-item-list-past
              = link_to root_path, class: "mypage-sold-item-link" do
                = image_tag (asset_path "logo.mini.png"), class: "image-size-default"
                .mypage-item-body
                  .mypage-item-text
                    「hogehoge」を購入しました。取引が完了しました。
                  .mypage-item-status-done
                    取引完了
                = fa_icon 'chevron-right'

            %li.mypage-item-list-past
              = link_to root_path, class: "mypage-sold-item-link" do
                = image_tag (asset_path "logo.mini.png"), class: "image-size-default"
                .mypage-item-body
                  .mypage-item-text
                    「hogehoge」を購入しました。取引が完了しました。
                  .mypage-item-status-done
                    取引完了
                = fa_icon 'chevron-right'

            %li.mypage-item-list-past
              = link_to root_path, class: "mypage-sold-item-link" do
                = image_tag (asset_path "logo.mini.png"), class: "image-size-default"
                .mypage-item-body
                  .mypage-item-text
                    「hogehoge」を購入しました。取引が完了しました。
                  .mypage-item-status-done
                    取引完了
                = fa_icon 'chevron-right'

            %li.mypage-go-list
              = link_to root_path, class: "open-lists" do
                一覧を見る
