.prof__l-side
  %nav.prof__mypage-nav
    %ul.prof__mypage-nav-list
      %li.link__hover--action
        = link_to "/users/show", class: 'prof__mypage-nav-list-item' do
          マイページ
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to root_path, class: 'prof__mypage-nav-list-item' do
          お知らせ
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to root_path, class: 'prof__mypage-nav-list-item' do
          やることリスト
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to root_path, class: 'prof__mypage-nav-list-item' do
          いいね！一覧
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to "/items/new", class: 'prof__mypage-nav-list-item' do
          出品する
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to "/users/#{current_user.id}/trade/sell", class: 'prof__mypage-nav-list-item' do
          出品した商品 - 出品中
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to "/users/#{current_user.id}/trade/now", class: 'prof__mypage-nav-list-item' do
          出品した商品 - 取引中
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to "/users/#{current_user.id}/trade/sold", class: 'prof__mypage-nav-list-item' do
          出品した商品 - 売却済み
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to "/users/#{current_user.id}/buy/now", class: 'prof__mypage-nav-list-item' do
          購入した商品 - 取引中
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to "/users/#{current_user.id}/bought", class: 'prof__mypage-nav-list-item' do
          購入した商品 - 過去の取引
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to root_path, class: 'prof__mypage-nav-list-item' do
          ニュース一覧
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to root_path, class: 'prof__mypage-nav-list-item' do
          評価一覧
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to root_path, class: 'prof__mypage-nav-list-item' do
          ガイド
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to root_path, class: 'prof__mypage-nav-list-item' do
          お問い合わせ
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'

    %h3.prof__mypage-nav-head 売上・ポイント
    %ul.prof__mypage-nav-list
      %li.link__hover--action
        = link_to root_path, class: 'prof__mypage-nav-list-item' do
          売上・振込申請
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to root_path, class: 'prof__mypage-nav-list-item' do
          ポイント
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'

    %h3.prof__mypage-nav-head 設定
    %ul.prof__mypage-nav-list
      %li.link__hover--action
        = link_to root_path, class: 'prof__mypage-nav-list-item' do
          プロフィール
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to root_path, class: 'prof__mypage-nav-list-item' do
          住所変更
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to "/users/#{current_user.id}/cards", class: 'prof__mypage-nav-list-item' do
          支払い方法
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to root_path, class: 'prof__mypage-nav-list-item' do
          メール/パスワード
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to "/users/:id/identify", class: 'prof__mypage-nav-list-item' do
          本人情報
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to root_path, class: 'prof__mypage-nav-list-item' do
          電話番号の確認
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
      %li.link__hover--action
        = link_to "/users/:id/logout", class: 'prof__mypage-nav-list-item' do
          ログアウト
          = fa_icon 'angle-right', class: 'prof__icon-arrow-right'
