.login__container
  = render "modules/header_logo_only"

  %main.signin__main
    .login__content
      .login__content--signin
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", new_user_registration_path
      .login__main--inner
        %button#facebook-login.btn-sns
          %i.fa.fa-facebook-official
          = link_to "Facebookでログイン", user_facebook_omniauth_authorize_path
        %button#google-login.btn-sns
          %i.fa.fa-google-plus
          = link_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login__main--inner
          .login__form
            = f.email_field :email, placeholder: 'メールアドレス', class: "login__form--default login__email"
          .login__form
            = f.password_field :password, placeholder: 'パスワード', class: "login__form--default login__pass"
            = recaptcha_tags theme: :dark
          = f.submit value: "ログイン", class: "login__button login__form--default"
      = link_to "パスワードをお忘れの方", edit_user_password_path, class: "forget__password"
.poricy__img--content
  = image_tag (asset_path "poricy.png")
