.items-box-content.clearfix
  %section.items-box
    = link_to root_path do
      = image_tag("/assets/cloth3.jpg")
      .items-box-body
        .items-box-name サンプルサンプルサンプルサンプルサンプルサンプルsannsss
        .items-box-num
          .items-box-price ¥ 3,900
          .items-box-likes
            = fa_icon 'heart-o'
            %span 2
          .item-box-tax (税込)

  %section.items-box
    = link_to root_path do
      = image_tag("/assets/cloth3.jpg")
      .items-box-body
        .items-box-name サンプルサンプルサンプルサンプルサンプルサンプルsannsss
        .items-box-num
          .items-box-price ¥ 3,900
          .items-box-likes
            = fa_icon 'heart-o'
            %span 2
          .item-box-tax (税込)

  %section.items-box
    = link_to root_path do
      = image_tag("/assets/cloth3.jpg")
      .items-box-body
        .items-box-name サンプルサンプルサンプルサンプルサンプルサンプルsannsss
        .items-box-num
          .items-box-price ¥ 3,900
          .items-box-likes
            = fa_icon 'heart-o'
            %span 2
          .item-box-tax (税込)

  %section.items-box
    = link_to root_path do
      = image_tag("/assets/cloth3.jpg")
      .items-box-body
        .items-box-name サンプルサンプルサンプルサンプルサンプルサンプルsannsss
        .items-box-num
          .items-box-price ¥ 3,900
          .items-box-likes
            = fa_icon 'heart-o'
            %span 2
          .item-box-tax (税込)

  %section.items-box
    = link_to root_path do
      = image_tag("/assets/cloth3.jpg")
      .items-box-body
        .items-box-name サンプルサンプルサンプルサンプルサンプルサンプルsannsss
        .items-box-num
          .items-box-price ¥ 3,900
          .items-box-likes
            = fa_icon 'heart-o'
            %span 2
          .item-box-tax (税込)

  %section.items-box
    = link_to root_path do
      = image_tag("/assets/cloth3.jpg")
      .items-box-body
        .items-box-name サンプルサンプルサンプルサンプルサンプルサンプルsannsss
        .items-box-num
          .items-box-price ¥ 3,900
          .items-box-likes
            = fa_icon 'heart-o'
            %span 2
          .item-box-tax (税込)
