.items-box-content

  - items.each do |item|
    %section.items-box
      = link_to item_path(item.id) do
        .trim
          = image_tag item.item_images.first.image
        .item-soldout
          - if item.buyer_id.present?
            .item-soldout-image
              %p.sold SOLD
        .items-box-body
          .items-box-name
            = item.name
          .items-box-num
            .items-box-price
              = number_to_currency(item.price, locale: 'jp')
            .items-box-likes
              = fa_icon 'heart-o'
              %span 2
            .item-box-tax (税込)

.view-all
  = link_to root_path do
    すべての商品を見る
