.items-box-content

  %section.items-box
    = link_to root_path do
      = image_tag (asset_path "cloth3.jpg")
      .items-box-body
        .items-box-name サンプルサンプルサンプルサンプルサンプルサンプルsannsss
        .items-box-num
          .items-box-price ¥ 3,900
          .items-box-likes
            = fa_icon 'heart-o'
            %span 2
          .item-box-tax (税込)

  %section.items-box
    = link_to root_path do
      = image_tag (asset_path "cloth3.jpg")
      .items-box-body
        .items-box-name サンプルサンプルサンプルサンプルサンプルサンプルsannsss
        .items-box-num
          .items-box-price ¥ 3,900
          .items-box-likes
            = fa_icon 'heart-o'
            %span 2
          .item-box-tax (税込)

  %section.items-box
    = link_to root_path do
      = image_tag (asset_path "cloth3.jpg")
      .items-box-body
        .items-box-name サンプルサンプルサンプルサンプルサンプルサンプルsannsss
        .items-box-num
          .items-box-price ¥ 3,900
          .items-box-likes
            = fa_icon 'heart-o'
            %span 2
          .item-box-tax (税込)

  %section.items-box
    = link_to root_path do
      = image_tag (asset_path "cloth3.jpg")
      .items-box-body
        .items-box-name サンプルサンプルサンプルサンプルサンプルサンプルsannsss
        .items-box-num
          .items-box-price ¥ 3,900
          .items-box-likes
            = fa_icon 'heart-o'
            %span 2
          .item-box-tax (税込)

.view-all
  = link_to root_path do
    すべての商品を見る
