
%header
  .header-inner
    .upper-box
      = link_to root_path, class: "upper-box__logo" do
        = image_tag (asset_path "logo.png")
      %input.upper-box__search{placeholder: "キーワードから探す", type: "text"}
      = fa_icon "search"
    .under-box
      .under-box__left
        %ul.l-left
          %li
            = link_to root_path, class: "from-category" do
              カテゴリーから探す
          %li
            = link_to root_path, class: "from-bland" do
              ブランドから探す
      .under-box__right
        .l-right
          / = link_to root_path, class: "header-login-btn" do
          /   ログイン
          / = link_to root_path, class: "header-signup-btn" do
          /   新規会員登録
          %ul.header-user-nav
            %li
              = link_to root_path, class: "icons" do
                = image_tag (asset_path "member_photo_noimage_thumb.png"), class: "user-icon"
                %span.icon-text
                  マイページ
            %li
              = link_to root_path, class: "icons" do
                = fa_icon "bell-o"
                %span.icon-text
                  お知らせ
            %li
              = link_to root_path, class: "icons" do
                = fa_icon "check"
                %span.icon-text
                  やることリスト


%nav.bread-crumbs
  %ul
    %li{itemscope: true, itemtype: "#"}
      = link_to root_path, itemprop: "url" do
        %span{itemprop: "title"}
          メルカリ
      = fa_icon "chevron-right"
    %li{itemscope: true, itemtype: "#"}
      %span{itemprop: "title"}
        商品詳細ページ

%section.item-detail-container
  %h1.item-detail-container__item-name スノーシューズ レディース 23
  .item-detail-container__main-content
    .item-photo
      .main-image
        = image_tag (asset_path "cloth3.jpg")
      %ul.sub-image
        %li
          = image_tag (asset_path "cloth3.jpg")
        %li
          = image_tag (asset_path "member_photo_noimage_thumb.png")
        %li
          = image_tag (asset_path "cloth3.jpg")
        %li
          = image_tag (asset_path "member_photo_noimage_thumb.png")

    %table.item-detail-table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to root_path do
              みつみみusagi
            .ratings-wrapper
              .item-user-ratings
                = fa_icon "smile-o"
                %span 56
              .item-user-ratings
                = fa_icon "meh-o"
                %span 0
              .item-user-ratings
                = fa_icon "frown-o"
                %span 0
        %tr
          %th カテゴリー
          %td
            = link_to root_path do
              %p レディース
            = link_to root_path do
              .item-detail-table-sub-category
                = fa_icon "chevron-right"
                靴
            = link_to root_path do
              .item-detail-table-sub-sub-category
                = fa_icon "chevron-right"
                ブーツ


        %tr
          %th ブランド
          %td
        %tr
          %th 商品のサイズ
          %td 23cm
        %tr
          %th 商品の状態
          %td 目立った傷や汚れなし
        %tr
          %th 配送料の負担
          %td 送料込み(出品者負担)
        %tr
          %th 配送の方法
          %td らくらくメルカリ便
        %tr
          %th 配送元地域
          %td
            = link_to root_path do
              神奈川県
        %tr
          %th 発送日の目安
          %td 4~7日で発送

  .item-price-box.text-center
    %span.item-price-box__price.bold ¥1.800
    %span.item-price-box__tax (税込)
    %span.item-price-box__fee 送料込み
  .item-buy-btn 購入画面に進む
  / .item-buy-btn.disabled 売り切れました
  .item-description
    %p.item-description-inner
      お値下げします1999円→1800円☆
      %br
      5年前くらいに靴専門店で購入しました☆
      一度、一泊スキー旅行で、そり遊び、雪道歩きに使用しました。
      履き口周辺に若干の毛玉が出来てますが(写真4枚目参照)中敷は汚れなしです☆
      靴底のゴムのすり減りはほとんどなく、状態は良いです☆
      %br
      プチプチに包んで発送致します♪
      %br
      返品は受け付けておりませんので、コメントでお気軽に質問してくださいね(o^^o)
      %br
      中古品になりますので、ご理解頂ける方のみのご購入を、よろしくお願い申し上げます☆
      プロフもご覧くださいね☆

  .item-button-container.clearfix
    .item-button-left
      %button.item-button.item-button-like
        = fa_icon "heart-o", class: "icon-like-border"
        %span いいね!
        %span{"data-num": "like"} 6
      = link_to root_path, class: "item-button item-button-report clearfix" do
        = fa_icon "flag-o"
        %span 不適切な商品の報告
    .item-button-right
      = link_to root_path, class: "safe-commit" do
        = fa_icon "lock"
        %span あんしん・あんぜんへの取り組み

.item-detail-message
  .message-container
    .message-content
      %ul.message-items
        %li.clearfix
          .message-user
            %figure
              .message-user-unknown
                = image_tag (asset_path "member_photo_noimage_thumb.png"), class: "message-user-photo"
              %figcaption.bold

          .message-body
            .message-body-text 出品者がコメントを削除しました
            .message-icons.clearfix
              %time.message-icon-left
                = fa_icon "clock-o"
                %span 2日前
            = fa_icon "comment rotate-90"

        %li.clearfix
          .message-user
            %figure
              .message-user-unknown
                = image_tag (asset_path "member_photo_noimage_thumb.png"), class: "message-user-photo"
              %figcaption.bold

          .message-body
            .message-body-text 出品者がコメントを削除しました
            .message-icons.clearfix
              %time.message-icon-left
                = fa_icon "clock-o"
                %span 2日前
            = fa_icon "comment rotate-90"

    .message-content
      = form_with method: 'POST', class: "message_form" do |f|
        %p
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = f.text_area :name , class: "commentarea-default"
        = f.submit 'コメントする', class: "message-submit comment-btn-default btn-gray"

%ul.nav-other-item-link.clearfix
  %li.nav-item-link-prev
    = link_to root_path do
      = fa_icon "chevron-left"
      ニンジン
  %li.nav-item-link-next
    = link_to root_path do
      大根
      = fa_icon "chevron-right"

.item-social-media-box
  .text-center
  %ul.social-media-box
    %li.social-media-box__icon
      = link_to root_path, class: "share-btn fb-icon" do
        = fa_icon "facebook-official", class: "icon-white p-fixed"
    %li.social-media-box__icon
      = link_to root_path, class: "share-btn tw-icon" do
        = fa_icon "twitter", class: "icon-white"
    %li.social-media-box__icon
      = link_to root_path, class: "share-btn pin-icon" do
        = fa_icon "pinterest", class: "icon-white"

.items-in-user-profile
  %section.items-box-container.clearfix.items-box-overflow
    %h2.items-box-head
      = link_to root_path, class: "extra-items" do
        みつみみusagiさんのその他の出品

    = render "other"

  %section.items-box-container.clearfix.items-box-overflow
    %h2.items-box-head
      = link_to root_path, class: "extra-items" do
        コーチのショルダーバッグ その他の商品

    = render "other"

= image_tag (asset_path "mercari.png")
