= form_with model: @item, method: :patch, local: true, class: "item-form" do |f|
  .items
    .header
      .icon
        = link_to root_path do
          = image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?817106341', class: 'item-img')
    .main
      .main-body
        .title
          商品の情報を入力
        .upload
          .upload__head
            出品画像
          .upload__need
            必須
          .upload__description
            最大10枚までアップロードできます
          .upload__drop.clearfix
            .sell-upload-items-container
              .sell-upload-items.have-item-0
                %ul
                  - if @item.item_images.present?
                    - @item.item_images.each_with_index do |item_image, num|
                      %li.sell-upload-item
                        = image_tag (item_image.image), class: "preview-image"
                        .sell-upload-item__button
                          = link_to "編集", '#', class: "sell-upload-edit"
                          .sell-upload-delete{"data-image-number": num} 削除
                  - else
                    %li.sell-upload-item
                      = image_tag (asset_path "noimage.gif"), class: "preview-image"
                      .sell-upload-item__button
                        = link_to "編集", '#', class: "sell-upload-edit"
                        .sell-upload-delete{"data-image-number": 0} 削除


              = f.fields_for :item_images do |i|
                = i.label :image, class: "upload__drop-box" do
                  = i.check_box :_destroy, id: "delete", class: "hidden"
                  = i.file_field :image, class: "hidden"
                  %pre.drop-text
                    ドラッグアンドドロップ
                    またはクリックしてファイルをアップロード

        .item
          .item-group
            .item-head
              商品名
            .item-need
              必須
            = f.text_field :name, value: @item.name, class: "item-form"
          .description-group
            .description-head
              商品の説明
            .description-need
              必須
            = f.text_area :describe, value: @item.describe, class: "description-form", row: "5"
        .detail.clearfix
          .detail-head
            商品の詳細
          .detail-box
            .category
              .category-head
                カテゴリー
              .category-need
                必須
              .category-form
                .category-wrap
                  = f.select :category_id, Category.roots.map{|category|[category.name, category.id]}, {selected: @item.category.root.id}, class: "select-category top-category"
                  = fa_icon 'angle-down', class: 'category-icon'

                .category-wrap.sub-category
                  %select.select-category.sub-category{selected: @set_sub.name}
                    %option{value: @set_sub.id, selected: @set_sub.name} #{@set_sub.name}
                    - @sub_categories.each do|sub|
                      %option{ value: sub.id} #{sub.name}
                  = fa_icon 'angle-down', class: 'category-icon'

                .category-wrap.third-category
                  %select.select-category.third-category{selected: @set_third.name}
                    %option{value: @set_third.id, selected: @set_third.name} #{@set_third.name}
                    - @third_categories.each do|third|
                      %option{ value: third.id} #{third.name}
                  = fa_icon 'angle-down', class: 'category-icon'

            #size-form.size-group
              .form-title
                サイズ
                %span.form-require 必須
              .select-wrap
                = f.select :size_id, Size.all.map{|size| [size.name, size.id]}, {prompt: "---"}, class: "select-default"
                = fa_icon 'angle-down', class: 'form-icon'
            #brand-form.brand-group
              .form-title
                ブランド
                %span.form-arbitrary 任意
              .select-wrap
                = f.select :brand_id, Brand.all.map{|brand| [brand.name, brand.id]}, {prompt: "---"}, class: "select-default"
                = fa_icon 'angle-down', class: 'form-icon'

            .state
              .state-head
                商品の状態
              .state-need
                必須
              .state-form
                .state-wrap
                  .state-base
                    = f.select :status, Item.statuses.keys.to_a, {prompt: "---"}, class: "select-state bg-white"
                    = fa_icon 'angle-down', class: 'state-icon'

        .delivery.clearfix
          .delivery-head
            配送について
          .delivery-question
            = fa_icon 'question-circle', class: 'icon'
          .delivery-box
            .burden
              .burden-head
                配送料の負担
              .burden-need
                必須
              .burden-form
                .burden-wrap
                  .burden-base
                    = f.select :burden, Item.burdens.keys.to_a, {prompt: "---"}, class: "select-burden bg-white"
                = fa_icon 'angle-down', class: 'burden-icon'
            #d-method.delivery-method
              .method-head
                配送の方法
                %span.form-require 必須
              .select-wrap
                = f.select :delivery_method, Item.delivery_methods.keys.to_a, {prompt: "---"}, class: "select-default"
                = fa_icon 'angle-down', class: 'form-icon'

            .region
              .region-head
                発送元の地域
              .region-need
                必須
              .region-form
                .region-wrap
                  .region-base
                    = f.select :prefecture, Item.prefectures.keys.to_a, {prompt: "---"}, class: "select-region bg-white"
                    = fa_icon 'angle-down', class: 'region-icon'
            .day
              .day-head
                発送までの日数
              .day-need
                必須
              .day-form
                .day-wrap
                  .day-base
                    = f.select :delivery_day, Item.delivery_days.keys.to_a, {prompt: "---"}, class: "select-day bg-white"
                    = fa_icon 'angle-down', class: 'day-icon'
        .sale
          .sale-head
            販売価格(300〜9,999,999)
          .sale-question
            = fa_icon 'question-circle', class: 'icon'
          .sale-box
            .price
              .price-group
                .price-group__head
                  価格
                .price-group__need
                  必須
              .price-input
                .price-wrap
                  ¥
                  .price-base
                    = f.text_field :price, value: @item.price, class: "price-base__form"
            .fee
              .fee-left
                販売手数料(10%)
              .fee-right
                = number_to_currency(@commission, locale: 'jp')
            .profit
              .profit-left
                販売利益
              .profit-right
                = number_to_currency(@profit, locale: 'jp')
        .exhibit
          .exhibit-box
            %p.caution-text
              = link_to '/jp/help_center/getting_started/prohibited_items/', class: "caution-text-link" do
                禁止されている出品
              、
              = link_to '/jp/help_center/getting_started/prohibited_conduct/', class: "caution-text-link" do
                行為
              を必ずご確認ください。
            %p.caution-text
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to '/jp/help_center/getting_started/counterfeit_goods/', class: "caution-text-link" do
                偽ブランドの販売
              は犯罪であり処罰される可能性があります。
            %p.caution-text
              また、出品をもちまして
              = link_to '/jp/seller_terms/', class: "caution-text-link" do
                加盟店規約
              に同意したことになります。
            = f.submit "変更する", class: "exhibit-button"

            = link_to "もどる", "/items/#{@item.id}/change", class: "back-button"

      .footer
        = image_tag (asset_path "poricy.png"), class: "exhibit__footer"
            %button.back-button
              もどる
