%header
  - if flash.notice.present?
    .alert__flash__message
      = flash.notice
  - if user_signed_in?
    = render 'modules/header_log_in'
  - else
    = render 'modules/header_log_out'

%main.top-page-main{role: "main"}
  .swiper-container
    .swiper-wrapper
      = image_tag (asset_path "welcome1.jpg"), class: "swiper-slide"
      = image_tag (asset_path "tsuyoshi.png"), class: "swiper-slide"
    .swiper-button-prev
    .swiper-button-next
    .swiper-pagination

  :javascript
    var swiper = new Swiper('.swiper-container', {
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      loop: true,
      autoplay: {
        delay: 3000,
        disableOnInteraction: true
      },
      pagination: {
          el: '.swiper-pagination',
          type: 'bullets',
        },
    });
  %section.pickup-container
    .pickup-head ピックアップカテゴリー

    %section.item-box-container
      .text-center
        = link_to root_path do
          レディース新着アイテム
      = render partial: "pickup_category", locals: { items: @ladies_items }

    %section.item-box-container
      .text-center
        = link_to root_path do
          メンズ新着アイテム
      = render partial: "pickup_category", locals: { items: @mens_items }

    %section.item-box-container
      .text-center
        = link_to root_path do
          ベビー・キッズ新着アイテム
      = render partial: "pickup_category", locals: { items: @kids_items }


    .pickup-head ピックアップブランド

    %section.item-box-container
      .text-center
        = link_to root_path do
          シャネル新着アイテム
      = render partial: "pickup_category", locals: { items: @chanel_items}

    %section.item-box-container
      .text-center
        = link_to root_path do
          ルイヴィトン新着アイテム
      = render partial: "pickup_category", locals: { items: @lui_items}

    %section.item-box-container
      .text-center
        = link_to root_path do
          シュプリーム新着アイテム
      = render partial: "pickup_category", locals: { items: @sup_items}

    %section.item-box-container
      .text-center
        = link_to root_path do
          ナイキ新着アイテム
      = render partial: "pickup_category", locals: { items: @nike_items}

%footer
  = image_tag (asset_path "mercari.png")

%a.sell-btn
  .sell-btn__text 出品
  = fa_icon 'camera'
