.home-container
  %header
    .header-inner
      .upper-box
        %a.upper-box__logo{href: ""}
          %img{src: "/assets/logo.png"}
        %input.upper-box__search{placeholder: "キーワードから探す", type: "text"}
        = fa_icon "search"
      .under-box
        .under-box__left
          %ul.l-left
            %li
              %a.from-category{href: "#"} カテゴリーから探す
            %li
              %a.from-bland{href: "#"} ブランドから探す
        .under-box__right
          .l-right
            %a.header-login-btn{href: "#"} ログイン
            %a.header-signup-btn{href: "#"} 新規会員登録

  %main{role: "main"}
    .swiper-container
      .swiper-wrapper
        %img{src: "/assets/welcome1.jpg", class: "swiper-slide"}
        %img{src: "/assets/tsuyoshi.png", class: "swiper-slide"}
      .swiper-button-prev
      .swiper-button-next
      .swiper-pagination
    %section.pickup-container
      .pickup-head ピックアップカテゴリー

      %section.item-box-container
        .text-center
          %a{href: "#"} レディース新着アイテム

        = render 'pickup'

      %section.item-box-container
        .text-center
          %a{href: "#"} メンズ新着アイテム

        = render 'pickup'

      %section.item-box-container
        .text-center
          %a{href: "#"} ベビー・キッズ新着アイテム

        = render 'pickup'

      %section.item-box-container
        .text-center
          %a{href: "#"} コスメ・香水・美容新着アイテム

        = render 'pickup'

    %section.pickup-container
      .pickup-head ピックアップブランド

      %section.item-box-container
        .text-center
          %a{href: "#"} シャネル新着アイテム

        = render 'pickup'

      %section.item-box-container
        .text-center
          %a{href: "#"} ルイ・ヴィトン新着アイテム

        = render 'pickup'

      %section.item-box-container
        .text-center
          %a{href: "#"} シュプリーム新着アイテム

        = render 'pickup'

      %section.item-box-container
        .text-center
          %a{href: "#"} ナイキ新着アイテム

        = render 'pickup'

  %footer
    %img{src: "/assets/mercari.png" }

  %a.sell-btn
    .sell-btn__text 出品
    = fa_icon 'camera'

