%header
  .header-inner
    .upper-box
      = link_to root_path, class: "upper-box__logo" do
        = image_tag (asset_path "/assets/logo.png")
      %input.upper-box__search{placeholder: "キーワードから探す", type: "text"}
      = fa_icon "search"
    .under-box
      .under-box__left
        %ul.l-left
          %li
            = link_to root_path, class: "from-category" do
              カテゴリーから探す
          %li
            = link_to root_path, class: "from-bland" do
              ブランドから探す
      .under-box__right
        .l-right
          = link_to root_path, class: "header-login-btn" do
            ログイン
          = link_to root_path, class: "header-signup-btn" do
            新規会員登録

%main.top-page-main{role: "main"}
  .swiper-container
    .swiper-wrapper
      = image_tag (asset_path "/assets/welcome1.jpg"), class: "swiper-slide"
      = image_tag (asset_path "/assets/tsuyoshi.png"), class: "swiper-slide"
    .swiper-button-prev
    .swiper-button-next
    .swiper-pagination
  %section.pickup-container
    .pickup-head ピックアップカテゴリー

    %section.item-box-container
      .text-center
        = link_to root_path do
          レディース新着アイテム

      = render 'pickup'

    %section.item-box-container
      .text-center
        = link_to root_path do
          メンズ新着アイテム

      = render 'pickup'

    %section.item-box-container
      .text-center
        = link_to root_path do
          ベビー・キッズ新着アイテム

      = render 'pickup'

    %section.item-box-container
      .text-center
        = link_to root_path do
          コスメ・香水・美容新着アイテム

      = render 'pickup'

  %section.pickup-container
    .pickup-head ピックアップブランド

    %section.item-box-container
      .text-center
        = link_to root_path do
          シャネル新着アイテム

      = render 'pickup'

    %section.item-box-container
      .text-center
        = link_to root_path do
          ルイ・ヴィトン新着アイテム

      = render 'pickup'

    %section.item-box-container
      .text-center
        = link_to root_path do
          シュプリーム新着アイテム

      = render 'pickup'

    %section.item-box-container
      .text-center
        = link_to root_path do
          ナイキ新着アイテム

      = render 'pickup'

%footer
  = image_tag (asset_path "/assets/mercari.png")

%a.sell-btn
  .sell-btn__text 出品
  = fa_icon 'camera'
