%header
  = render 'modules/header_log_in'

%nav.bread-crumbs
  %ul
    %li{itemscope: true, itemtype: "#"}
      = link_to root_path, itemprop: "url" do
        %span{itemprop: "title"}
          メルカリ
      = fa_icon "chevron-right"
    %li{itemscope: true, itemtype: "#"}
      %span{itemprop: "title"}
        マイページ
      = fa_icon "chevron-right"
    %li{itemscope: true, itemtype: "#"}
      %span.logpot_bold{itemprop: "title"}
        ログアウト

%main.prof__l-container.clearfix
  = render 'side/side_bar'

  .logout__content
    .logout__btn__wrapper
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn__logout"

= image_tag (asset_path "mercari.png")

%a.sell-btn
  .sell-btn__text 出品
  = fa_icon 'camera'
