%header
  - if user_signed_in?
    = render 'modules/header_log_in'
  - else
    = render 'modules/header_log_out'

.items-box-content
  - items.each do |item|
    %section.items-box
      - if user_signed_in? && item.seller_id == current_user.id
        = link_to edit_item_path(item) do
          .trim
            = image_tag item.item_images.first.image
          .item-soldout
            - if item.buyer_id.present?
              .item-soldout-image
                %p.sold SOLD
          .items-box-body
            .items-box-name
              = item.name
            .items-box-num
              .items-box-price
                = number_to_currency(item.price, locale: 'jp')
              .items-box-likes
                = fa_icon 'heart-o'
                %span 2
              .item-box-tax (税込)
      - else
        = link_to item_path(item.id) do
          .trim
            = image_tag item.item_images.first.image
          .item-soldout
            - if item.buyer_id.present?
              .item-soldout-image
                %p.sold SOLD
          .items-box-body
            .items-box-name
              = item.name
            .items-box-num
              .items-box-price
                = number_to_currency(item.price, locale: 'jp')
              .items-box-likes
                = fa_icon 'heart-o'
                %span 2
              .item-box-tax (税込)
