%header
  - if user_signed_in?
    = render 'modules/header_log_in'
  - else
    = render 'modules/header_log_out'

%nav.bread-crumbs
  - breadcrumb :detail
  = breadcrumbs class: "breadcrumbs", style: :ul, separator: " #{content_tag(:i, '', :class=>'fa fa-chevron-right')} "

%section.item-detail-container
  %h1.item-detail-container__item-name
    = @item.name
  .item-detail-container__main-content
    .item-photo
      .main-image
        = image_tag @item_images.first.image
      %ul.sub-image
        - @item_images.each do |item_image|
          %li
            = image_tag item_image.image
      .item-soldout
        - if @item.buyer_id != nil
          .item-soldout-image
            %p.sold SOLD

    %table.item-detail-table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to root_path do
              = @item.seller.nickname
            .ratings-wrapper
              .item-user-ratings
                = fa_icon "smile-o"
                %span 56
              .item-user-ratings
                = fa_icon "meh-o"
                %span 0
              .item-user-ratings
                = fa_icon "frown-o"
                %span 0
        %tr
          %th カテゴリー
          %td
            = link_to root_path do
              %p
                = @item.category.root.name
            = link_to root_path do
              .item-detail-table-sub-category
                = fa_icon "chevron-right"
                = @item.category.parent.name
            = link_to root_path do
              .item-detail-table-sub-sub-category
                = fa_icon "chevron-right"
                = @item.category.name


        %tr
          %th ブランド
          %td
            = @item.brand.name
        %tr
          %th 商品のサイズ
          %td
            = @item.size.name
        %tr
          %th 商品の状態
          %td
            = @item.status
        %tr
          %th 配送料の負担
          %td
            = @item.burden
        %tr
          %th 配送の方法
          %td
            = @item.delivery_method
        %tr
          %th 配送元地域
          %td
            = link_to root_path do
              = @item.prefecture
        %tr
          %th 発送日の目安
          %td
            = @item.delivery_day

  .item-price-box.text-center
    %span.item-price-box__price.bold
      = number_to_currency(@item.price, locale: 'jp')
    %span.item-price-box__tax (税込)
    %span.item-price-box__fee
      - if @item.burden_before_type_cast == 1
        %p 送料込み
      - else @item.burden_before_type_cast == 2
        %p 着払い

  - if @item.buyer_id == nil
    .item-buy-btn
      = link_to "/items/:id/buy", class: "item-buy-btn__link" do
        購入画面に進む
  - else @item.buyer_id != nil
    .item-buy-btn.disabled 売り切れました
  .item-description
    %p.item-description-inner
      = @item.describe
      %br

  .item-button-container.clearfix
    .item-button-left
      %button.item-button.item-button-like
        = fa_icon "heart-o", class: "icon-like-border"
        %span いいね!
        %span{"data-num": "like"} 6
      = link_to root_path, class: "item-button item-button-report clearfix" do
        = fa_icon "flag-o"
        %span 不適切な商品の報告
    .item-button-right
      = link_to root_path, class: "safe-commit" do
        = fa_icon "lock"
        %span あんしん・あんぜんへの取り組み

.item-detail-message
  .message-container
    .message-content
      %ul.message-items
        %li.clearfix
          .message-user
            %figure
              .message-user-unknown
                = image_tag (asset_path "member_photo_noimage_thumb.png"), class: "message-user-photo"
              %figcaption.bold

          .message-body
            .message-body-text 出品者がコメントを削除しました
            .message-icons.clearfix
              %time.message-icon-left
                = fa_icon "clock-o"
                %span 2日前
            = fa_icon "comment rotate-90"

        %li.clearfix
          .message-user
            %figure
              .message-user-unknown
                = image_tag (asset_path "member_photo_noimage_thumb.png"), class: "message-user-photo"
              %figcaption.bold

          .message-body
            .message-body-text 出品者がコメントを削除しました
            .message-icons.clearfix
              %time.message-icon-left
                = fa_icon "clock-o"
                %span 2日前
            = fa_icon "comment rotate-90"

    .message-content
      = form_with method: 'POST', class: "message_form" do |f|
        %p
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = f.text_area :name , class: "commentarea-default"
        = f.submit 'コメントする', class: "message-submit comment-btn-default btn-gray"

%ul.nav-other-item-link.clearfix
  %li.nav-item-link-prev
    = link_to "/items/#{@item.id.pred}" do
      = fa_icon "chevron-left"
      - if @item.previous.present?
        = @item.previous.name
  %li.nav-item-link-next
    = link_to "/items/#{@item.id.next}" do
      - if @item.next.present?
        = @item.next.name
        = fa_icon "chevron-right"

.item-social-media-box
  .text-center
  %ul.social-media-box
    %li.social-media-box__icon
      = link_to root_path, class: "share-btn fb-icon" do
        = fa_icon "facebook-official", class: "icon-white p-fixed"
    %li.social-media-box__icon
      = link_to root_path, class: "share-btn tw-icon" do
        = fa_icon "twitter", class: "icon-white"
    %li.social-media-box__icon
      = link_to root_path, class: "share-btn pin-icon" do
        = fa_icon "pinterest", class: "icon-white"

.items-in-user-profile
  %section.items-box-container.clearfix.items-box-overflow
    %h2.items-box-head
      = link_to root_path, class: "extra-items" do
        = @item.seller.nickname
        さんのその他の出品

    = render "other"

  %section.items-box-container.clearfix.items-box-overflow
    %h2.items-box-head
      = link_to root_path, class: "extra-items" do
        = @item.brand.name
        その他の商品

    = render "other"

= image_tag (asset_path "mercari.png")
