%main.prof__l-container.clearfix
  .prof__l-content
    %section.prof__chapter-container
      %h2.prof__l-chapter-head プロフィール
      %form{action: "", method: "POST"}
        %input{name: "prof__csrf-value", type: "hidden", value: ""}/
        .prof__setting-profile-icon
          %figure.prof__icon-image
            %img{height: "60", src: "//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png", width: "60"}/
          %input.prof__input-default{name: "prof__nickname", placeholder: "例)AYA☆セール中", type: "text", value: ""}/
        .prof__setting-profile-content
          %textarea.prof__textarea-default{name: "prof__introduction", placeholder: "例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"}
          %input{name: "prof__after_save_callback", type: "hidden", value: ""}/
          %button.prof__btn-default.btn-red{type: "submit"} 変更する
  .prof__l-side
    %nav.prof__mypage-nav
      %ul.prof__mypage-nav-list
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            マイページ
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            お知らせ
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            やることリスト
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            いいね！一覧
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            出品する
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            出品した商品 - 出品中
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            出品した商品 - 取引中
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            出品した商品 - 売却済み
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            購入した商品 - 取引中
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            購入した商品 - 過去の取引
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            ニュース一覧
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            評価一覧
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            ガイド
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            お問い合わせ
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
      %h3.prof__mypage-nav-head 売上・ポイント
      %ul.prof__mypage-nav-list
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            売上・振込申請
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            ポイント
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
      %h3.prof__mypage-nav-head 設定
      %ul.prof__mypage-nav-list
        %li
          %a.prof__mypage-nav-list-item.active{href: ""}
            プロフィール
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            住所変更
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            支払い方法
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            メール/パスワード
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            本人情報
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            電話番号の確認
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'
        %li
          %a.prof__mypage-nav-list-item{href: ""}
            ログアウト
            %i.prof__icon-arrow-right
              = fa_icon 'angle-right'

%footer
  %img{src: "/assets/mercari.png" }
